@use "utils";

.tabs {
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  overflow: scroll;
  margin-bottom: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @include utils.flex(flex-start, center, row);

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  opacity: 0.3;
  padding-bottom: 20px;
  @include utils.text(utils.rem(utils.$H24), 900, utils.$black);
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid utils.$white;
  white-space: nowrap;
  cursor: pointer;
  display: block;

  @include utils.transition(opacity, border-color);

  @include utils.media("tablet") {
    font-size: 36px;
  }

  @include utils.media("tablet") {
    &:hover {
      opacity: 0.5;
    }
  }

  &.active {
    opacity: 1;
    border-bottom: 2px solid utils.$black;
  }
}

.cards {
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  overflow: scroll;
  margin-bottom: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include utils.media("tablet") {
    margin-bottom: 80px;
  }

  @include utils.media("tablet-wide") {
    left: 0;
  }

  &.active {
    @include utils.flex(flex-start, center, row);
  }
}

.card__svg__wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  top: 0;

  @include utils.transition(top);
}

.card__wrapper {
  &::before {
    content: "";
    position: absolute;
    top: 375px;
    bottom: 0;
    right: 0;
    left: 0;
    background: utils.$yellow;
    @include utils.transition(top);

    @include utils.media("tablet") {
      top: 425px;
    }
  }

  & .card__inner .card__svg__wrapper .card__svg {
    &:first-child {
      position: absolute;
      opacity: 0;
    }
  }

  @include utils.media("tablet") {
    &:hover {
      & .card__inner .card__svg__wrapper {
        top: -5px;
        & .card__svg {
          &:first-child {
            position: absolute;
            opacity: 1;
          }
        }
      }

      &:before {
        top: 0;
      }
    }
  }
}

.card {
  min-height: 375px;
  padding: 20px;
  min-width: calc(100vw - 100px);
  max-width: 330px;
  background: utils.$gray;
  margin-right: 20px;
  text-align: left;
  position: relative;

  @include utils.media("phone-wide") {
    width: 330px;
    min-width: 330px;
  }

  @include utils.media("tablet") {
    min-height: 425px;
    padding: 60px 30px;
  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  &:first-of-type {
    margin-left: 20px;

    @include utils.media("tablet-wide") {
      margin-left: 0;
    }
  }

  &:last-of-type {
    @include utils.media("tablet-wide") {
      margin-right: 0;
    }
  }

  &__inner {
    @include utils.flex(flex-start, flex-start, column);
  }

  &__svg {
    margin-bottom: 40px;
    @include utils.transition(opacity);
    fill: green;
  }

  &__title {
    margin-bottom: 15px;
    @include utils.text(utils.rem(utils.$H22), 700, utils.$black);
  }

  &__subtitle {
    line-height: 24px;
    @include utils.text(utils.rem(utils.$H15), 400, utils.$black);
  }
}
