<div class="about" id="about">
  <div class="about__inner wrapper">
    <ul class="tabs about__tabs">
      <li
        class="tab about__tab active"
        onclick="setTechTabs(0, 'about__tab', 'about__cards')"
      >
        ABOUT ME
      </li>
      <li
        class="tab about__tab"
        onclick="setTechTabs(1, 'about__tab', 'about__cards')"
      >
        QUALITIES
      </li>
      <li
        class="tab about__tab"
        onclick="setTechTabs(2, 'about__tab', 'about__cards')"
      >
        LANGUAGES
      </li>
    </ul>

    <!--FIRST SECTION-->
    <div class="about__cards about__card active">
      Hello, my name is Pavel! I'm a Flutter developer from Ukraine and I love
      my profession. I have more than 2 years experience
    </div>

    <!--SECOND SECTION-->
    <div class="about__cards about__card">
      Responsible, stress resistant, able to self-education, communicative,
      honest, attentive to details.
    </div>

    <!--THIRD SECTION-->
    <div class="about__cards">
      <ul class="language_cards">
        <li class="language_card">Ukrainian - Native</li>
        <li class="language_card">English - Intermediate</li>
        <li class="language_card">Russian - Fluent</li>
      </ul>
    </div>
  </div>
</div>
