<div class="contact">
  <div class="contact__inner wrapper">
    <div class="form__wrapper">
      <span class="contact__title"> Contact me </span>
      <ul class="input__items">
        <li class="input__item">
          <span class="input__name">Name *</span>
          <input class="input__input" type="text" id="name" value="" />
        </li>
        <li class="input__item">
          <span class="input__name">Email *</span>
          <input class="input__input" type="email" id="email" value="" />
        </li>
        <li class="input__item">
          <span class="input__name">Phone Number</span>
          <input class="input__input" type="tel" id="number" value="" />
        </li>
        <li class="input__item">
          <span class="input__name">HOW CAN WE HELP? *</span>
          <input class="input__input" type="text" id="whatsNeed" value="" />
        </li>
        <li class="input__item">
          <span class="input__name">HOW DID YOU LEARN ABOUT US?</span>
          <input class="input__input" type="text" id="learnAboutUs" value="" />
        </li>
      </ul>

      <div class="input__button" onclick="sendEmail()">
        <a class="button button--big button--white">SEND MESSAGE</a>
      </div>
    </div>
    <div class="text__wrapper">YOU MAKE THE RIGHT CHOICE</div>
  </div>
</div>
