<nav class="header">
  <div class="header__inner wrapper">
    <span class="logo">Grinchenko</span>
    <div class="menu">
      <ul class="menu__items">
        <li class="menu__item"><a href="">Technologies</a></li>
        <li class="menu__item"><a href="">Cases</a></li>
        <li class="menu__item"><a href="">About me</a></li>
      </ul>
    </div>
    <a href="" class="button">Hire me</a>
    <!-- <ul class="burger">
        <li class="burger__item"></li>
        <li class="burger__item"></li>
        <li class="burger__item"></li>
    </ul> -->
    <div class="tpl-hamburger" id="sandwichmenu">
      <svg viewBox="0 0 800 600">
        <path
          d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
          class="tpl-hamburger__top"
        ></path>
        <path d="M300,320 L540,320" class="tpl-hamburger__middle"></path>
        <path
          d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
          class="tpl-hamburger__bottom"
          transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
        ></path>
      </svg>
    </div>
    <div class="menu__box" id="menubox">
      <ul class="menu__items">
        <li class="menu__item"><a href="#">Technologies</a></li>
        <li class="menu__item"><a href="#">Cases</a></li>
        <li class="menu__item"><a href="#">About me</a></li>
      </ul>
    </div>
  </div>
</nav>
