<div class="tech" id="tech">
  <div class="tech__inner wrapper">
    <ul class="tabs tech__tabs">
      <li
        class="tab tech__tab active"
        onclick="setTechTabs(0, 'tech__tab', 'tech__cards')"
      >
        SERVICES
      </li>
      <li
        class="tab tech__tab"
        onclick="setTechTabs(1, 'tech__tab', 'tech__cards')"
      >
        TECHNOLOGIES
      </li>
    </ul>

    <!--FIRST SECTION-->
    <ul class="cards tech__cards active">
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img class="card__svg" src="./assets/svg/web-white.svg" alt="web" />
            <img class="card__svg" src="./assets/svg/web.svg" alt="web" />
          </div>
          <span class="card__title">Web Development</span>
          <span class="card__subtitle"
            >Cutting-edge technologies and reliable battle-tested solutions are
            used for web development.</span
          >
        </div>
      </li>
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img
              class="card__svg"
              src="./assets/svg/mobile-white.svg"
              alt="mobile"
            />
            <img class="card__svg" src="./assets/svg/mobile.svg" alt="mobile" />
          </div>
          <span class="card__title">Mobile Development</span>
          <span class="card__subtitle"
            >We use practical solutions for mobile application development to
            facilitate your business growth and brand recognition.</span
          >
        </div>
      </li>
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img
              class="card__svg"
              src="./assets/svg/design-white.svg"
              alt="design"
            />
            <img class="card__svg" src="./assets/svg/design.svg" alt="design" />
          </div>
          <span class="card__title">UI/UX Design</span>
          <span class="card__subtitle"
            >Creative designs and user-friendly interfaces can contribute to
            your business success.</span
          >
        </div>
      </li>
    </ul>

    <!--SECOND SECTION-->
    <ul class="cards tech__cards">
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img
              class="card__svg"
              src="./assets/svg/flutter-white.svg"
              alt="flutter"
            />
            <img
              class="card__svg"
              src="./assets/svg/flutter.svg"
              alt="flutter"
            />
          </div>
          <span class="card__title">Flutter</span>
          <span class="card__subtitle"
            >We develop apps for any screen. With Flutter, we build, test, and
            deploy beautiful mobile, web, desktop, and embedded apps from a
            single codebase.</span
          >
        </div>
      </li>
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img
              class="card__svg"
              src="./assets/svg/men-stack.svg"
              alt="men-stack"
            />
            <img
              class="card__svg"
              src="./assets/svg/men-stack.svg"
              alt="men-stack"
            />
          </div>
          <span class="card__title">MEN Stack</span>
          <span class="card__subtitle"
            >MongoDB + ExpressJS + NodeJS is a stack for building a fast and
            lightweight API.
          </span>
        </div>
      </li>
      <li class="card card__wrapper">
        <div class="card__inner tech__card">
          <div class="card__svg__wrapper">
            <img
              class="card__svg"
              src="./assets/svg/react-white.svg"
              alt="react"
            />
            <img class="card__svg" src="./assets/svg/react.svg" alt="react" />
          </div>
          <span class="card__title">React</span>
          <span class="card__subtitle"
            >This flexible open-source JavaScript library for building
            interactive UIs allows create simple but fast and scalable frontends
            of web applications.</span
          >
        </div>
      </li>
    </ul>

    <!--Inviting block-->
    <div class="inviting-block">
      <a href="#contact" class="inviting-block__button button button--big"
        >contact me</a
      >
      <div class="inviting-block__title-wrapper">
        <span class="inviting-block__title"
          >Need a consultation for your project?</span
        >
      </div>
    </div>
  </div>
</div>
