<div class="tech">
  <div class="tech__inner wrapper">
    <ul class="tabs tech__tabs">
      <li
        class="tab tech__tab active"
        onclick="setTechTabs(0, 'tech__tab', 'tech__cards')"
      >
        SERVICES
      </li>
      <li
        class="tab tech__tab"
        onclick="setTechTabs(1, 'tech__tab', 'tech__cards')"
      >
        TECHNOLOGIES
      </li>
    </ul>

    <!--FIRST SECTION-->
    <ul class="cards tech__cards active">
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/flutter.svg" alt="flutter" />
        <span class="card__title">Mobile developing</span>
        <span class="card__subtitle"
          >We develop apps for any screen. With Flutter, we build, test, and
          deploy beautiful mobile, web, desktop, and embedded apps from a single
          codebase.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/node-js.svg" alt="flutter" />
        <span class="card__title">Node.JS</span>
        <span class="card__subtitle"
          >This technology that relies on Google’s V8 JavaScript engine offers a
          much faster development process and has numerous built-in libraries
          for developing real-time apps.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/mongo-db.svg" alt="flutter" />
        <span class="card__title">MongoDB</span>
        <span class="card__subtitle"
          >MongoDB is a non-tabular open-source database management system that
          offers extensive scalability and versatility.</span
        >
      </li>
    </ul>

    <!--SECOND SECTION-->
    <ul class="cards tech__cards">
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/web.svg" alt="flutter" />
        <span class="card__title">Web Development</span>
        <span class="card__subtitle"
          >Cutting-edge technologies and reliable battle-tested solutions are
          used for web development at OTAKOYI.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/mobile.svg" alt="flutter" />
        <span class="card__title">Mobile Development</span>
        <span class="card__subtitle"
          >We use practical solutions for mobile application development to
          facilitate your business growth and brand recognition.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/design.svg" alt="flutter" />
        <span class="card__title">UI/UX Design</span>
        <span class="card__subtitle"
          >Creative designs and user-friendly interfaces can contribute to your
          business success.</span
        >
      </li>
    </ul>

    <!--Inviting block-->
    <div class="inviting-block">
      <span class="inviting-block__title"
        >Need a consultation for your project?</span
      >
      <a href="" class="button button--big">contact me</a>
    </div>
  </div>
</div>

<!-- <script>
  function setTechTabs(index, tabs, cards) {
  console.log('prints');
}
</script> -->
