<div class="tech">
  <div class="tech__inner wrapper">
    <ul class="tabs tech__tabs">
      <li class="tab tech__tab" onclick="setTechTabs(0)">SERVICES</li>
      <li class="tab tech__tab active" onclick="setTechTabs(1)">
        TECHNOLOGIES
      </li>
    </ul>
    <ul class="cards tech__cards">
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/flutter.svg" alt="flutter" />
        <span class="card__title">Flutter</span>
        <span class="card__subtitle"
          >We develop apps for any screen. With Flutter, we build, test, and
          deploy beautiful mobile, web, desktop, and embedded apps from a single
          codebase.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/node-js.svg" alt="flutter" />
        <span class="card__title">Node.JS</span>
        <span class="card__subtitle"
          >This technology that relies on Google’s V8 JavaScript engine offers a
          much faster development process and has numerous built-in libraries
          for developing real-time apps.</span
        >
      </li>
      <li class="card tech__card">
        <img class="card__svg" src="./assets/svg/mongo-db.svg" alt="flutter" />
        <span class="card__title">MongoDB</span>
        <span class="card__subtitle"
          >MongoDB is a non-tabular open-source database management system that
          offers extensive scalability and versatility.</span
        >
      </li>
    </ul>
  </div>
</div>
