@use '../components/utils';
@use 'variables' as v;

*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: v.$base-font-size;
  background-color: v.$color-bg;
  // scroll-behavior: smooth;
}

body {
  font-family: v.$primary-font;
  @include utils.flex(flex-start, center, column);
  caret-color: utils.$white;
}

.container {
  width: 100%;
  max-width: calc(800px + v.$mobile-container-padding-x);
  padding: {
    left: v.$mobile-container-padding-x;
    right: v.$mobile-container-padding-x;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

.wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
