// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #1c1b22;
$yellow: #FFDB00;
$black: #111111;
$white: #FFFFFF;
$gray: #F9F9FB;

// FONTS
$primary-font: 'Gotham', Tahoma, Geneva, Verdana, sans-serif;
$base-font-size: 10px;

$H14: 14px;
$H15: 15px;
$H16: 16px;
$H18: 18px;
$H22: 22px;
$H24: 24px;
$H36: 36px;
$H42: 42px;
$H46: 46px;

// OFFSET
$mobile-container-padding-x: 16px;
